.card {
  width: 100%;
  max-width: 378px;
  padding: 24px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.caption {
  margin-top: 7px;
  color: var(--color-light-900);
}

.captionAfterSubmit {
  margin-top: 23px;
}

.sendLink {
  margin-top: 17px;
}

.link {
  margin: 24px 0;
}

.recaptcha {
  display: flex;
  justify-content: center;
}

.modalBtnGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}
