.arBlock {
  position: absolute;
  bottom: 50px;
  left: 11px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 10px 12px;

  background-color: rgb(35 35 35 / 85%);
  border-radius: 2px;

  .item {
    color: var(--color-light-900);
  }

  &.hide {
    display: none;
  }
}
