.createNewPassword {
  display: flex;
  flex-direction: column;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 37px;

  .createNewPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

}

.passwordError {
  color: var(--color-danger-500);
}

.prompt {
  color: var(--color-light-900);
}