.createNewPassword {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  padding: 24px;

  .createNewPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.passwordError {
  color: var(--color-danger-500);
}

.prompt {
  color: var(--color-light-900);
}
