.passwordRecovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .textContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 294px;
    gap: 19px;
  }

  .recoveryBtn {
    max-width: 294px;
  }
}
