.page{
  display: flex;
  gap:40px;
  padding: 24px 0;
  border-bottom: solid 1px var(--color-dark-300);

  .photoUploader{
   width: 192px;
    height: 192px;
    border: 1px solid var(--color-light-100);
  }

}