@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.5rem 1.5rem;

  font-size: var(--font-size-m);
  font-weight: 600;
  line-height: var(--line-height-m);
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 0.125rem;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    opacity: 0.5;
  }

  &.fullWidth {
    justify-content: center;
    width: 100%;
  }
}

.primary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  border: 2px solid transparent;

  &:disabled {
    color: var(--color-light-900);
    border-color: var(--color-accent-900);
  }

  &:focus:enabled {
    background-color: var(--primary-500, #397df6);
    border: 2px solid var(--primary-700, #2f68cc);
  }

  &:hover:enabled {
    background-color: var(--color-accent-100);
  }

  &:active:enabled {
    color: var(--color-light-500);
    background-color: var(--color-accent-700);
  }
}

.secondary {
  @include button;

  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  border: 1px solid transparent;

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-500);
  }

  &:focus:enabled {
    background-color: var(--dark-300, #333);
    border: 1px solid var(--primary-300, #4c8dff);
  }

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: #212121;
  }
}

.tertiary {
  @include button;

  color: var(--color-accent-500);
  background-color: transparent;
  border: 1px solid var(--color-accent-500);

  &:disabled {
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }

  &:focus:enabled {
    border: 2px solid var(--color-accent-700);
  }

  &:hover:enabled {
    color: var(--color-accent-100);
    border: 1px solid var(--color-accent-100);
  }

  &:active:enabled {
    color: var(--color-accent-700);
    border: 1px solid var(--color-accent-700);
  }
}

.link {
  @include button;

  color: var(--color-accent-700);
  border: 2px solid transparent;

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
  }

  &:hover:enabled {
    color: var(--color-accent-100);
  }

  &:focus:enabled {
    color: var(--color-accent-500);
    border: 2px solid var(--color-accent-700);
  }
}
