.card {
  width: 100%;
  max-width: 378px;
  padding: 24px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.caption {
  margin: 7px 0 17px;
  color: var(--color-light-900);
}

.link {
  margin: 24px 0;
}

.notARobot {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 20px;

  border: 1px solid var(--color-dark-300);
}

.recaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
}
