.wrapper {
  width: 100%;
  max-width: 425px;
  text-align: center;

  .title {
    padding-top: 35px;
  }

  .description {
    padding: 20px 0 55px;
  }

  .button {
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
    padding-bottom: 73px;
  }
}
