.root {
  display: flex;
  flex-direction: column;
  width: 378px;
  padding: 24px;

  .title {
    margin: 0 auto;
  }

  .otherRegistration {
    display: flex;
    gap: 60px;
    justify-content: center;

    margin-top: 13px;
    margin-bottom: 24px;

  }

  .form {
    display: flex;
    flex-direction: column;

    .formInput {
      position: relative;
      background-color: transparent;

      &:nth-child(-n+3) {
        margin-bottom: 24px;

        &.formInputWithErrorSingle {
            margin-bottom: 24px;

          span:last-of-type {
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }


    .formInput.formInputWithErrorDouble {
      margin-bottom: 48px;

      span:last-of-type {
        position: absolute;
        top: 100%;
        left: 0;
      }
    }

    .formCheckbox {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      margin-top:  12px;
      margin-bottom:  22px;
    }
  }

  .question {
    margin: 18px auto 6px;
  }


}