@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  flex-wrap: $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

.root {
  @include flex($direction: column, $gap: 180px);

  height: 100%;
}

.nav {
  @include flex($direction: column);

  a:not(:last-child) {
    margin-bottom: 24px;
  }

  a:nth-child(5) {
    margin-bottom: 60px;
  }
}
