.scrollContainer {
  scrollbar-width: thin;
  position: relative;
  overflow: hidden auto;
  max-height: 250px;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-dark-300);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-dark-100);
    border-radius: 2px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-light-900);
    }
  }
}


.item {
  cursor: pointer;
  user-select: none;

  padding: 6px 12px;

  outline: none;

  transition: 0.2s ease-out;

  &:hover,
  &:focus-visible,
  &[data-state='checked'] {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }
}

.itemText {
  display: flex;
  gap: 12px;
  align-items: center;
}