@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  flex-wrap: $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

.root {
  @include flex($direction: column);

  width: 378px;
  margin: 0 auto;
  padding: 24px;
}

.formTitle {
  margin-bottom: 13px;
  text-align: center;
}

.providers {
  @include flex($gap: 60px, $justify: center);

  margin-bottom: 24px;
}

.form {
  @include flex($direction: column);

  margin-bottom: 18px;
}

.formInput {
  width: 100%;
  background-color: transparent;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--color-dark-500) inset !important;

    -webkit-text-fill-color: var(--color-light-900) !important;
  }

  &:first-child {
    margin-bottom: 24px;
  }

  &:last-of-type {
    margin-bottom: 36px;
  }
}

.formInput.formInputWithError {
  &:first-child {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 12px;
  }
}

.forgotLink {
  margin-bottom: 24px;
  color: var(--color-light-900);
  text-align: right;
  text-decoration: none;
}

.questionText {
  margin-bottom: 6px;
  text-align: center;
}

.signUpLink {
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-accent-100);
  }
}
