@mixin container {
  width: 100%;
  max-width: 1180px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.root {
  @include container;

  margin: 24px 0;
}

.link {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.text {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  text-align: center;
  white-space: pre-wrap;
}
