.root {
  padding: 24px 10px 0;
}

.BackToBtn {
  display: flex;
  gap: 12px;
  align-items: center;

  .link {
    text-decoration: none;
  }
}

.title {
  padding: 23px 0 20px;
  text-align: center;
}

.desc {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  text-align: center;
  text-indent: 12px;
  white-space: pre-wrap;
}
