.root{
  display: flex;
  flex-direction: column;
  gap:24px;
  align-items: center;

  width: 250px;
  padding: 24px;

  .avatar{
    position: relative;
    width: 192px ;
    height: 192px ;
    border-radius: 50%;

    .avatarPhoto{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .deleteIcon{
      position: absolute;
      top: 8px;
      left: 68px;

      padding: 0;

      background: transparent;
    }
  }

  .avatarButton{
    width: auto;
    max-height: 36px;
    white-space: nowrap
  }

}

.addModalRoot{
  top: 354px;
  max-width: 492px;
  max-height: 564px;

  .modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;


    .saveButton{
      margin: 36px 0 12px auto;
    }

    .withoutPhoto{
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
      margin-bottom:72px;

      .errorText{
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        padding: 6px 44px;

        text-align: center;

        background: var(--color-danger-900);
        border: 1px solid var(--color-danger-500);
        border-radius: 2px;

      }

      .blank{
        margin-top: 48px ;
        margin-bottom: 60px ;

        &.blankError{
          margin-top: 0;
        }

      }
    }
  }


}





.currentPhoto{
  width: 316px ;
  height: 316px ;

}

.deleteModalRoot{
  top: 360px;
  max-width: 438px;
  max-height: 240px;

  .deleteRoot{
    display: flex;
    flex-direction: column;
    gap:54px;
    justify-content: flex-start;

    margin-top: 6px;
  }

  .buttonsBlock{
    display: flex;
    gap: 24px;

    margin-right: 0;
    margin-bottom: 12px;
    margin-left: auto;
    button{width: 96px}

  }

}

