.label {
  user-select: none;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-900);
}

.icon {
  cursor: pointer;

  position: absolute;
  right: 12px;

  width: 24px;
  height: 24px;

  &.disabled {
    color: var(--color-text-disabled);
  }

  &.error > svg {
    fill: var(--color-danger-500);
  }
}

.input {
  width: 100%;
  padding: 0;

  font-size: 16px;
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: none;

  &:hover {
    color: var(--color-light-100);
    outline: 0;
    outline-offset: 0;
  }

  &:focus-within {
    color: var(--color-light-100);
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    color: var(--color-light-100);
    outline: 0;
    outline-offset: 0;
  }

  &.error {
    color: var(--color-danger-500);
  }
}

.inputContainer {
  position: relative;

  display: flex;
  gap: 22px;
  align-items: center;

  width: 100%;
  padding: 6px 60px 6px 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition: 0.2s ease-out;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:hover {
    border: 1px solid var(--color-dark-100);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    color: var(--color-light-100);
    border-color: var(--color-accent-500);
    outline: 1px solid var(--color-accent-500);
  }

  &:disabled {
    color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }

  &.error {
    color: var(--color-danger-500);
    border: 1px solid var(--color-danger-500);

    &::placeholder {
      color: var(--color-danger-500);
    }

    &:focus-visible {
      border-color: var(--color-danger-500);
      outline: 1px solid var(--color-danger-500);
    }
  }

  &:has(.range) {
    .icon {
      position: static;
    }
  }

  &:focus-within:not(.error) {
    border: 1px solid var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }

  &:active:not(.error) {
    border: 1px solid var(--color-accent-700);
    outline: 1px solid var(--color-accent-700);
  }
}
