.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  border-bottom: 1px solid var(--color-dark-100);

  .backBtn {
    all: unset;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.body {
  width: 500px;
  height: 490px;
}

.slider {
  height: 100%;
}

.image {
  display: block !important;
  height: 490px;
  object-fit: cover;
}

.slickDots {
  position: absolute;
  bottom: 25px;

  display: flex !important;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding: 0;

  text-align: center;

  li {
    list-style: none;
  }
}

.nextBtn {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.prevBtn {
  top: 50%;
  transform: translateY(-50%);
}

.addImageBtn {
  right: 11px;
  bottom: 11px;
}

.aspectRatioBtn {
  bottom: 11px;
  left: 11px;
}

.sizeBtn {
  bottom: 11px;
  left: 71px;
}

.active {
  color: var(--color-accent-500);
}
